name: CI

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run Cypress tests
        uses: cypress-io/github-action@v2
        with:
          config-file: cypress-ci.json
      - name: Upload test results to BuildPulse for flaky test detection
        if: '!cancelled()' # Run this step even when the tests fail. Skip if the workflow is cancelled.
        uses: Workshop64/buildpulse-action@master
        with:
          account: 68192324 # Replace this value with your BuildPulse account ID
          repository: 264059655 # Replace this value with your BuildPulse repository ID
          path: cypress/results
          key: ${{ secrets.BUILDPULSE_ACCESS_KEY_ID }}
          secret: ${{ secrets.BUILDPULSE_SECRET_ACCESS_KEY }}
